tr:hover td {
    background: #f6f8fa;
    cursor: pointer;
}

td.content > span {
    color: #0366d6;
    text-decoration: none;
}

table.files td.icon {
    width: 17px;
    padding-right: 2px;
    padding-left: 10px;
    color: rgba(3,47,98,0.55);
}

table.files td {
    padding: 6px 3px;
    line-height: 20px;
    border-top: 1px solid #eaecef;
}

table.files {
    width: 100%;
    background: #fff;
    border-radius: 2px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.file-wrap {
    margin-bottom: 10px;
    border: 1px solid #dfe2e5;
    border-top: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: auto;
    max-height: 300px;
}

.main-container {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}
